/* .members-container {
  max-width: 800px;
  margin: 0 auto;
} */

/* h3,
.links {
  margin: 0 10px;
  font-size: 20px;
} */

/* .links {
  font-size: 14px;
} */

/* .members-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
} */

/* .members-list {
  display: flex;
  flex-direction: column;
} */

/* .members-info {
  width: 75%;
} */

/* .members-details {
  display: flex;
  flex-direction: column;
} */

/* .members-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
} */

/* .members-name {
  display: flex;
  width: 50%;
} */

/* .members-email {
  width: 50%;
} */

/* .members-actions {
  display: flex;
  justify-content: flex-end;
  margin: 0 70px 0 0;
} */

/* .members-actions div {
  margin-left: 70px;
} */

/* .members-management {
  display: flex;
} */

/* .members {
  display: flex;
  justify-content: space-between;
  margin: 20px;
} */

.signature-pad {
  border: 2px solid black;
  max-width: 800px;
}

.signature-pad {
  border: 2px solid red;
}

.signature-page {
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid black;
}

.sign-header {
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sign-body {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sign-signature {
  /* width: 70%; */
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  padding: 20px;
}

.sign-form {
  margin: 10px;
}

/* .status-header {
  display: flex;
  justify-content: flex-end;
  margin: 0 40px 0 0;
} */

.status-header h3 {
  margin-left: 30px;
}

