.members-container {
  max-width: 800px;
  margin: 0 auto;
  /* border: 2px solid black; */
}

h3,
.links {
  margin: 0 10px;
}

.members-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.members-list {
  display: flex;
  flex-direction: column;
}

.members-info {
  display: flex;
  align-items: center;
}

.members-details {
  display: flex;
  flex-direction: column;
}
.members-text {
  display: flex;
  align-items: center;
}
.members-actions {
  display: flex;
}

.members-management {
  display: flex;
}

.members {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
